<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

    <!-- hoja de estilos -->

    <link rel="stylesheet" href="/css/stylesRegister.css">
    
    <!-- Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Lilita One -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/7558ce1d8d.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />

</head>

<body>

    <header>

        <article class="header-tres">
            <img class="logo" src="/img/logo-HC2.png" alt="logo">
            <div class="buscador-bar">
                <input class="buscador" type="search" name="busqueda" placeholder="Buscar...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>

            <form class="categoria-pais" action="" method="get">
                <select name="pais">
                    <option value="argentina"> Argentina </option>
                    <option value="brasil"> Brasil </option>
                    <option value="canada"> Canadá </option>
                    <option value="eeuu"> EEUU </option>
                    <option value="eu"> EU </option>
                    <option value="japon"> Japón </option>
                    <option value="otro"> Otro </option>
                </select>
            </form>


            <div class="carrito">
                <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
            </div>

            <div class="user">
                <a href="/login"><i class="fas fa-user-circle"></i></a>
            </div>

        </article>

        <nav>
            <ul>
                <li type="none"> <a href="#"> Inicio </a> </li>
                <li type="none"> <a href="#"> Nosotros </a> </li>
                <li type="none"> <a href="#"> Productos </a> </li>
                <li type="none"> <a href="#"> Contacto </a> </li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>

    <main>

        <div class="contenedor-main">
            <div class="top">
                <p>Home > Login > Registro </p>
                <p>CREA TU CUENTA</p>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, obcaecati corrupti eveniet
                    architecto beatae, maxime delectus nobis ab saepe mollitia officia odio facere quis non. Dolor
                    assumenda consequatur perferendis quasi!</P>
            </div>

            <div class="bottom">

                <div class="campos-de-relleno">
                    <p>Nombre y Apellido</p>
                    <input type="text" placeholder="Nombre Apellido" required>
                </div>

                <div class="campos-de-relleno">
                    <p>Email</p>
                    <input type="text" placeholder="direccion@demail.com" required>
                </div>

                <div class="campos-de-relleno">
                    <p>Telefono</p>
                    <input type="text" placeholder="11 xxxx xxxx" required>
                </div>

                <div class="campos-de-relleno">
                    <p>Contrasena</p>
                    <input type="password" required>
                </div>

                <div class="campos-de-relleno">
                    <p>Nombre y Apellido</p>
                    <input type="required" required>
                </div>
            </div>


        </div>

    </main>

    <footer>

        <div class="contenedor-footer">

       <div class="top-nav">
                <ul>
                    <li class="inicio" type="none"><a href="#">Inicio</a></li>
                    <li type="none"><a href="#">Nosotros</a></li>
                    <li type="none"><a href="#">Productos</a></li>
                </ul>
        </div>
        
            <div class="bottom-nav">
                <p>Contactanos</p>
                <input class="footer-menu" type="email" placeholder="tu email">
                <button type="submit">Suscribite</button>
            </div>

            <div class="linea-divisoria4">

            <div class="social-network">
                <ul>
                    <li type="none"><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
                    <li type="none"><a href="https://es-la.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
                    <li type="none"><a href="https://twitter.com/i/flow/login"><i class="fa-brands fa-twitter"></i></li>
                </ul>
            </div>

        </div>

    </footer>

</body>

</html>